.colorInput-border {
  appearance: none;
  background-color: transparent;
  height: 40px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
}
.colorInput-border::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.colorInput-border::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
