/*  50 most use In google */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap");

/*  Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

/* Local font declarations */
@font-face {
  font-family: "Escolar";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Escolar_G.TTF") format("truetype");
}
@font-face {
  font-family: "Escolar";
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/Escolar_N.TTF") format("truetype");
}
@font-face {
  font-family: "Massallera";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/massallera.TTF") format("truetype");
}
@font-face {
  font-family: "Memima";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Memima.ttf") format("truetype");
}
@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/OpenDyslexic-Regular.otf") format("truetype");
}
@font-face {
  font-family: "OpenDyslexic";
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/OpenDyslexic-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Pipomayu";
  font-style: regular;
  font-weight: 400;
  src: url("./fonts/pipomayu.TTF") format("truetype");
}
